<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseadmin.html :: headerfiles(title='SIW')"> </head>
<body>
	<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	<div class="t4">
    <div>
    	<h4 class="t1" >Lista di comandi</h4>
		<div class="highlight">
			<a th:href="@{/esame}">Elenco Esami</a>
   		</div>
   		<div class="highlight">
			<a th:href="@{/tipologia}">Elenco tipologie di Esami</a>
   		</div>
   		<div class="highlight">
			<a th:href="@{/medico}">Elenco medici </a>
   		</div>
   		   		<div class="highlight">
			<a th:href="@{/admin/tipologia}">Inserisci una nuova tipologia di esame</a>
   		</div>
   		<div class="highlight">
			<a th:href="@{/admin/prerequisito}">Inserisci una nuova prerequisito</a>
   		</div>
   		<div class="highlight">
			<a th:href="@{/admin/medico}">Inserisci un nuovo medico</a>
   		</div>
   		<div class="highlight">
			<a th:href="@{/admin/esame}">Inserisci una nuova prenotazione esame</a>
   		</div>
   		<div class="highlight">
			<a th:href="@{/admin/register}">Inserisci un nuovo utente</a>
   		</div>
 
   		<div class="highlight">
			<a th:href="@{/logout}">Logout</a>
   		</div>
    </div>
    </div>
    <footer th:replace="fragments/baseadmin.html :: fondo(home='/default')"></footer>
</body>
</html>