<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${title}">CLINCA MNC</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<header th:fragment="intestazione">
		<img src="../images/_Logo (3)_.png" alt="" height="50" width="150">
		<nav>
			<ul class="nav__links">
				<li><a href="index" th:href="@{/index}">Home</a></li>
								
				<li><a href="meidci" th:href="@{/medico}">Medici</a></li>
				<li><a href="tipologie" th:href="@{/tipologia}">Tipologie</a></li>

			</ul>
		</nav>


	</header>

	<p>Go to the next page to see fragments in action</p>
	<aside>
		<div>This is a sidebar</div>
	</aside>
	<div class="another">This is another sidebar</div>

	<footer  th:fragment="fondo"> INDRIZZO:Universita Roma3 <br></br> TELEFONO:06-8888  <br></br>  EMAIL:mnc_clinica@gmail.com </footer>
	                             
</body>
</html>