<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${title}">MUSEO MNC</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header th:fragment="intestazione">
		<img class="logo" src="/images/logo4.png" alt="logo">
		<nav>
			<ul class="nav__links">
				<li><a href="index" th:href="@{/index}">Home</a></li>
<!-- 				<li><a href="esami" th:href="@{/esame}">Esami</a></li> -->
				<li><a href="meidci" th:href="@{/medico}">Medici</a></li>
				<li><a href="tipologie" th:href="@{/tipologia}">Tipologie</a></li>
				
			</ul>
		</nav>

		<a class="cta" th:href="@{/contatti}"><button>Contatti</button></a>

	</header>

	<p>Go to the next page to see fragments in action</p>
	<aside>
		<div>This is a sidebar</div>
	</aside>
	<div class="another">This is another sidebar</div>

	<footer th:fragment="fondo"></footer>
<!-- 	<div class="footer">  -->
<!-- 	<ul > -->
<!-- 	<li class="footer_links"><a href="index" th:href="@{/index}">Home</a></li> -->
<!-- 	<li class="footer_links"><a href="immagini" th:href="@{/immagine}">immagini</a></li> -->
<!-- 	</ul> -->
<!-- 	</div> -->
</body>
</html>