<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${title}">CLINICA MNC</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header th:fragment="intestazione">
		<img class="logo" src="../images/logo1.png" alt="">
		<nav>
			<ul class="nav__links">
					<li><a href="home/admin" th:href="@{/default}">Home</a></li>
				<li><a href="esami" th:href="@{/listaEsami}">Esami</a></li>
				<li><a href="medici" th:href="@{/medico}">medici</a></li>
				<li><a href="tipologie" th:href="@{/tipologia}">tipologie</a></li>
			
				<!-- <li><a href="index" th:href="@{/index}">Esci</a></li> -->
			</ul>
		</nav>

		<!-- <a  th:href="@{/contatti}"><button>Contatti</button></a> -->

	</header>

	<p>Go to the next page to see fragments in action</p>
	<aside>
		<div>This is a sidebar</div>
	</aside>
	<div class="another">This is another sidebar</div>

	<footer th:fragment="fondo"> </footer>
</body>
</html>