<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{header.esami})">
</head>
<body>
	<div th:if="${session.role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	<div class="container">
		<div class="myform">
			<div>
				<h4 class="t1">Inserisci un risultato</h4>
			</div>
			<form th:action="@{/admin/esame/{id}/risultato (id=${esame.id})}" method="POST"
				th:object="${risultato}">
				<!-- <div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div> -->
				<div>
					<div>
						<span>Descrizione:</span><textarea th:field="*{risultatoDescrizione}"></textarea>
						<span th:if="${#fields.hasErrors('risultatoDescrizione')}"
							th:errors="*{risultatoDescrizione}"></span>
					</div>
					<!-- 	<div>
						<label for="corsi">scegli un corso:</label> <select id="corsi"
							name="corsi">
							<option value="volvo">Volvo</option>
							<option value="saab">Saab</option>
							<option value="fiat">Fiat</option>
							<option value="audi">Audi</option>
						</select>
					</div> -->
					<div>
						<span><button type="submit">Invio</button></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>