<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/baseadmin.html :: headerfiles(title=#{header.esami})"> </head>
<body>

		<div th:if="${session.role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	<div class="t5">
	<div>
    	<h4 class="h1">Lista di esami</h4>
		<br></br>
		<ul>
			<li  th:each="esame : ${esami}">
				<a href="esame.html"
				   th:href="@{'/esame' + '/' + ${esame.id}}" 
				   th:text="|${esame.codice}  ${esame.dataPrenotazione}">qui-vanno-date-tipologia</a>
				   	<div>
    		<a class="cta" th:href="@{'/admin/esame' + '/' + ${esame.id}}"><button>elimina</button></a>
    	  </div>
			</li>
		</ul>
	</div>
	</div>
</body>
</html>
