<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='CLINICA MNC/esame')"> </head>
<body>
	<div th:if="${session.role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	<div class="t5">
		<div>
			<h4 class="t1"></h4>

			<div th:if="${esame}" th:object="${esame}">
				<h6 class="t1">
					Codice: <span th:text="*{codice}">qui-va-codice</span>
				</h6>
				<h6 class="t1">
					Data di prenotazione: <span th:text="*{dataPrenotazione}">qui-va-dataPrenotazione</span>
				</h6>
				<h6 class="t1">
					Data dell'Esame <span th:text="*{dataEsame}">qui-va-dataEsame</span>
				</h6>
				<h6 class="t1">
					Orario dell'esame: <span th:text="*{orarioEsame}">qui-va-orarioEsame</span>
				</h6>
				<h6 class="t1">
					Medico : <span th:text="|*{medico.nome} *{medico.cognome}|"></span>
				</h6>
				<h6 class="t1">
					Tipologia : <span
						th:text="|*{tipologia.nome} *{tipologia.descrizione} *{tipologia.costo}|"></span>$
				</h6>
				<h6 class="t1">
					Paziente : <span th:text="|*{paziente.nome} *{paziente.cognome}|"></span>
				</h6>
				<div th:if="*{risultato} != null">
					<h6 class="t1">
						Risultato : <span th:text="|*{risultato.risultatoDescrizione}|"></span>
					</h6>
				</div>
			</div>

		</div>
		<div th:unless="${esame}">Non esiste</div>
		<div th:if="${session.role}=='ADMIN'">
			<a th:href="@{'/admin/esame' + '/' + ${esame.id}}"><button>elimina</button></a>
		</div>
		<div th:if="${session.role}=='ADMIN'">
			<div th:object="${esame}" method="GET">
				<a th:href="@{'/admin/esame'+'/'+ *{id}+'/risultato'}"><button>Aggiungi
						un risultato</button></a>
			</div>
		</div>

	</div>
	<div th:if="${session.role}=='ADMIN'">
		<footer th:replace="fragments/baseadmin.html :: fondo"></footer>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<footer th:unless="${session.role}=='ADMIN'"
			th:replace="fragments/base.html :: fondo"></footer>
	</div>
	

</body>
</html>