<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/baseadmin.html :: headerfiles(title=#{header.esami})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div class="container">
		<div class="myform">
			<div>
				<h4 class="t1">Inserisci i dati di un esame</h4>
			</div>
			<form th:action="@{/admin/esame}" method="POST" th:object="${esame}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<div>
					<div>
						<span>Data Prenotazione:</span> <span><input type="date"
							th:field="*{dataPrenotazione}" /></span> <span
							th:if="${#fields.hasErrors('dataPrenotazione')}" th:errors="*{dataPrenotazione}"></span>
					</div>
					<div>
						<span>DataEsame:</span> 
						<span><input type="date" th:field="*{dataEsame}" /></span> <span th:if="${#fields.hasErrors('dataEsame')}"
							th:errors="*{dataEsame}"></span>
					</div>
				
					<div>
						<span>Medico:</span> <span><input type="number"
							th:field="*{medico.id}" /></span> <span th:if="${#fields.hasErrors('medico.id')}"
							th:errors="*{medico.id}"></span>
					</div>
					<div>
						<span>Paziente:</span> <span><input type="number"
							th:field="*{paziente.id}" /></span> <span th:if="${#fields.hasErrors('paziente.id')}"
							th:errors="*{paziente.id}"></span>
					</div>
					<div>
						<span>tipologia:</span> <span><input type="number"
							th:field="*{tipologia.id}" /></span> <span th:if="${#fields.hasErrors('tipologia.id')}"
							th:errors="*{tipologia.id}"></span>
				<!--	</div>
					<form method="post" enctype="multipart/form-data" action="/uploadImage"> 
 						<input type="file" name="imagiFile"> 
 						<input type="submit" value="Upload"/>
					</form> 
					
					<div> -->
						<span><button type="submit">Invio</button></span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer th:replace="fragments/baseadmin.html :: fondo"></footer>
</body>
</html>