<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='CLINICA MNC/esameForm')"> </head>
<body>
	<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	<div class="container">
		<div class="t5">
			<div>
				<h4 class="login2">Inserisci i dati di un esame</h4>
			</div>
			<form th:action="@{esame}" method="POST" th:object="${esame}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
					<div>
						<div class="login"><span>Codice Prenotazione:</span></div> <span><input type="text"
							th:field="*{codice}" /></span> <span th:if="${#fields.hasErrors('codice')}"
							th:errors="*{codice}"></span>
					</div>
					
					<div>
						<div class="login"><span>DataEsame:</span> </div>
						<span><input type="date" th:field="*{dataEsame}" /></span> <span th:if="${#fields.hasErrors('dataEsame')}"
							th:errors="*{dataEsame}"></span>
					</div>
					<div>
						<div class="login"><span>Orario:</span> </div><span><input type="time"
							th:field="*{orarioEsame}" /></span> <span th:if="${#fields.hasErrors('orarioEsame')}"
							th:errors="*{orarioEsame}"></span>
					</div>
					<div>
					<div class="login">	<span>Medico: </span> </div>
							<select id="medico" th:field="*{medico}" required>
							<option th:each="medico : ${medici}"
							th:value="${medico.id}" th:text="${medico.cognome}"></option>
						</select>
					</div>
					 <div>
						<div class="login"><span>Paziente: </span> </div>
							<select id="paziente" th:field="*{paziente}" required>
							<option th:each="paziente : ${pazienti}"
							th:value="${paziente.id}" th:text="${paziente.nome}"></option>
						</select>
					</div> 
					<div>
						<div class="login"><span>Tipologia: </span></div>
							<select id="tipologia" th:field="*{tipologia}" required>
							<option th:each="tipologia : ${tipologie}"
							th:value="${tipologia.id}" th:text="${tipologia.nome}"></option>
						</select>
					</div>  
					
				<!--	</div>
					<form method="post" enctype="multipart/form-data" action="/uploadImage"> 
 						<input type="file" name="imagiFile"> 
 						<input type="submit" value="Upload"/>
					</form>  -->
					
					<div>
						<span><button class="button" type="submit">Invio</button></span>
					</div>
				</form>
			</div>
		</div>
		
</body>
</html>