<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/baseadmin.html :: headerfiles(title=#{header.esami})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
    	<h4 class="t1">Lista di Esami</h4>
		<ul>
			<li class="t1" th:each="esame : ${esami}">
				<a href="esame.html"
				   th:href="@{'/esame' + '/' + ${esame.id}}" 
				   th:text="|${esame.dataEsame} ${esame.dataPrenotazione} ${esame.tipologia}">qui-vanno-date-tipologia</a>
				   	<div>
    		<form action="#" th:object="${esame}" th:action="@{/admin/deleteEsame/{id}(id=${esame.id})}" th:method="post" >
    		<input type="hidden" name="_method" value="delete">
      		<button type="submit" id="submitButton">Cancella</button>
    		</form>
    	  </div>
			</li>
		</ul>
	</div>
</body>
</html>
