<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/baseadmin.html :: headerfiles(title=#{header.esami})"> </head>
<body>
	<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	<div class="container">
		<div class="myform">
			<div>
				<h4 class="t1">Inserisci i dati di un esame</h4>
			</div>
			<form th:action="@{/admin/esame}" method="POST" th:object="${esame}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				
					<div>
						<span>Data Prenotazione:</span> <span><input type="date"
							th:field="*{dataPrenotazione}" /></span> <span
							th:if="${#fields.hasErrors('dataPrenotazione')}" th:errors="*{dataPrenotazione}"></span>
					</div>
					<div>
						<span>DataEsame:</span> 
						<span><input type="date" th:field="*{dataEsame}" /></span> <span th:if="${#fields.hasErrors('dataEsame')}"
							th:errors="*{dataEsame}"></span>
					</div>
					<div>
						<span>Medico: </span> 
							<select id="medico" th:field="*{medico}" required>
							<option th:each="medico : ${medici}"
							th:value="${medico.id}" th:text="${medico.cognome}"></option>
						</select>
					</div> 
					
					 <div>
						<span>Paziente: </span> 
							<select id="paziente" th:field="*{paziente}" required>
							<option th:each="paziente : ${pazienti}"
							th:value="${paziente.id}" th:text="${paziente.nome}"></option>
						</select>
					</div> 
					<div>
						<span>Tipologia: </span> 
							<select id="tipologia" th:field="*{tipologia}" required>
							<option th:each="tipologia : ${tipologie}"
							th:value="${tipologia.id}" th:text="${tipologia.nome}"></option>
						</select>
					</div> 
					
				<!--	</div>
					<form method="post" enctype="multipart/form-data" action="/uploadImage"> 
 						<input type="file" name="imagiFile"> 
 						<input type="submit" value="Upload"/>
					</form>  -->
					
					<div>
						<span><button type="submit">Invio</button></span>
					</div>
				</form>
			</div>
		</div>
</body>
</html>