<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseadmin.html :: headerfiles(title=#{pageTitle.esame})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4 class="t1"></h4>
    	
    	<div class="t2" th:if="${esame}" th:object="${esame}">
			<span th:text="*{dataPrenotazione}">qui-va-dataPrenotazione</span>
			<span th:text="*{dataEsame}">qui-va-dataEsame</span>
   		</div>
   		<!-- <ul>
               <li th:each="immagine : ${opera.immagini}">
               <!-- <a href="immagine.html" 
                   th:href="@{'/immagine' + '/' + ${immagine.id}}"
                   th:text="${immagine.titolo}"> </a>
                   <div><br><br></div>
               </li>
           </ul> -->
    	<div th:unless="${esame}">Non esiste</div>
    	<div th:if="${#authorization.expression('isAuthenticated()')}"> 
     	<div>
    		<form action="#" th:object="${esame}" th:action="@{/deleteEsame/{id}(id=${esame.id})}" th:method="post" >
    		<input type="hidden" name="_method" value="delete">
      		<button type="submit" id="submitButton">Cancella</button>
    		</form>
    	  </div>
    	</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>