  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='userHome')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
   
		<div class="highlight">
			<a href="esame" th:href="@{/esame}">Elenco dei miei Esami </a>
   		</div>
   		<div class="highlight">
			<a href="medico" th:href="@{/medico}">Elenco Medici</a>
   		</div>
   		<div class="highlight">
			<a href="tipologia" th:href="@{/tipologia}">Elenco Tipologie degli Esami</a>
   		</div>
   		<div class="highlight">
			<a href="paziente" th:href="@{/user}">Elenco dei pazienti</a>
   		</div>
   		<div class="highlight">
			<a th:href="@{/logout}">Logout</a>
   		</div>
   		
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>