<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.index})"></head>
<body>

	<header th:replace="fragments/base.html :: intestazione"> </header>
	<div>
		<a th:href="@{/login}"><span class="highlight">Accedi</span></a>
	</div>
	<!-- <div>
		<a th:href="@{/register}"><span class="highlight">Registrati</span></a>
	</div> -->

	<div class="">
		<div class="item">
		<img  src="../images/doctor-6029079_1920.png" alt="" height="600" width="1550">
		
		</div>
		
	</div>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>