<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Login')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		
	</div>
	<form th:action="@{/login}" method="POST">
		<div class="t5">
			<div><h4 class="login2">Login</h4>
				<div class="login"><span>Username:</span></div>
				<span><input name="username" type="text" required /></span>
			</div>		
			<div>
				<div class="login"><span>Password:</span></div>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span><button class="button" type="submit">Login</button></span>
			</div>
		</div>
	</form>
    <footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>