<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='CLINICA MNC/medicoForm')"> </head>
<body>
	<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	
		<div class="t5">
			<div>
				<h4 class="login2">Inserisci i dati di un medico</h4>
			</div>
			<form th:action="@{/admin/mediciSave}" method="POST"
				th:object="${medico}" enctype="multipart/form-data">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<div>
					<div>
						<div class="login">
							<span>Nome:</span>
						</div>
						<span><input type="text" th:field="*{nome}" /></span> <span
							th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
					</div>
					<div>
						<div class="login">
							<span>Cognome:</span>
						</div>
						<span><input type="text" th:field="*{cognome}" /></span> <span
							th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
					</div>
					<div>
						<div class="login">
							<span>Specializzazione:</span>
						</div>
						<span><input type="text" th:field="*{specializzazione}" /></span>
						<span th:if="${#fields.hasErrors('specializzazione')}"
							th:errors="*{specializzazione}"></span>
					</div>
					<div>

						<div class="login">
							<span>Photo: </span>
						</div>
						<input type="file" name="image" accept="image/png, image/jpeg" />

					</div>

					<div>
						<span><button type="submit">Invio</button></span>
					</div>
				</div>
			</form>
		</div>
	
	<footer th:replace="fragments/baseadmin.html :: fondo"></footer>
</body>
</html>