<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{header.prerequisito})">
</head>
<body>
	<div th:if="${session.role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>

	<div class="t5">
		<h4 class="t1">Lista di Prerequisiti</h4>
		<ul>
			<li class="t1" th:each="prerequisito : ${prerequisiti}"><a
				href="prerequisito.html"
				th:href="@{'/prerequisito' + '/' + ${prerequisito.id}}"
				th:text="|${prerequisito.nome} ${prerequisito.valore}|">qui-va-nome-valore</a>
				<div>
					<a class="btn"
						th:href="@{'/admin/prerequisito' + '/' + ${prerequisito.id}}"><button>elimina</button></a>
				</div></li>
		</ul>
		<br>


	</div>
</body>
</html>
