<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseadmin.html :: headerfiles(title=#{pageTitle.medico})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    	<h4  class="t1"></h4>
    	
    	<div class="t2" th:if="${prerequisito}" th:object="${prerequisito}">
			<span th:text="*{nome}">qui-va-nome</span>
			<span th:text="*{valore}">qui-va-valore</span>
			
	
   		</div>

    	<div th:unless="${prerequisito}">Non esiste</div>
    	<!-- <div th:if="${#authorization.expression('isAuthenticated()')}"> -->
    	<div th:if="${user.role}=='ADMIN'">
        <!-- <div th:if="${session.role}=='ADMIN'"> -->
            <form action="#" th:object="${prerequisito}" th:action="@{/admin/prerequisito/{id}(id=${prerequisito.id})}">
            <input type="hidden" name="_method" value="delete">
              <button type="submit" id="submitButton">Aggiorna i dati</button>
            </form>
            <form action="#" th:object="${prerequisito}" th:action="@{/deletePrerequisito/{id}(id=${prerequisito.id})}" th:method="post" >
            <input type="hidden" name="_method" value="delete">
              <button type="submit" id="submitButton">Cancella</button>
            </form>
            <!-- </div> -->
            <!--  </div> -->
             <!-- <div th:unless="${#authorization.expression('isAuthenticated()')}"> </div> -->
             <div th:unless="${user.role}=='ADMIN'"> </div>
     </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>