<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='CLINICA MNC/registerPrimoAdmin')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
    	<h4 >Registrazione nascosto</h4>
	<form class="t5" th:action="@{/register}" method="POST">
     
        <div>
           <div class="login"> <span>Nome Utente</span></div>
            <span><input type="text" placeholder="username" required
                       th:field="${credentials.username}"/></span>
            <span th:if="${#fields.hasErrors('credentials.username')}"
                th:errors="${credentials.username}" th:style="'color:red'"></span>
        </div>
        <div>
            <div class="login"><span>Password</span></div>
            <span><input type="password" placeholder="password" required
                       th:field="${credentials.password}"/></span>
            <span th:if="${#fields.hasErrors('credentials.password')}"
                th:errors="${credentials.password}" th:style="'color:red'"></span>
        </div>
        <div>
            <div class="login"><span>Nome</span></div>
            <span><input type="text" placeholder="nome" required
                       th:field="${user.nome}"/></span>
            <span th:if="${#fields.hasErrors('user.nome')}"
                th:errors="${user.nome}" th:style="'color:red'"></span>
        </div>
        <div>
          <div class="login">  <span>Cognome</span></div>
            <span><input type="text" placeholder="cognome" required
                       th:field="${user.cognome}"/></span>
            <span th:if="${#fields.hasErrors('user.cognome')}"
                th:errors="${user.cognome}" th:style="'color:red'"></span>
        </div>
        <div>
            <span>
                <button type="submit">Registra</button>
            </span>
        </div>
 
	</form>
	</div>
   
</body>
</html>