<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='CLINICA MNC/risultatoForm')"> </head>
<body>
	<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	<div class="container">
		<div class="t5">
			<div>
				<h4 class="t1">Inserisci i dati di un risultati di Esame</h4>
			</div>
			<form th:action="@{/risultatiSave}" method="POST"
				th:object="${risultato}" enctype="multipart/form-data">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<div>
					<div>
						<span>Nome:</span> <span><input type="text"
							th:field="*{nome}" /></span> <span th:if="${#fields.hasErrors('nome')}"
							th:errors="*{nome}"></span>
					</div>
					<div>
						<span>Valore:</span> <span><input type="text"
							th:field="*{valore}" /></span> <span
							th:if="${#fields.hasErrors('valore')}" th:errors="*{valore}"></span>
					</div>
					<div>
						<label>Esame: </label> <select id="esame" th:field="*{esame}"
							required>
							<option th:each="esame : ${esami}" th:value="${esame.id}"
								th:text="${esame.tipologia}"></option>
						</select>
					</div>
					<div>
						<label>Document: </label> <input type="file" name="documentFile"
							required />
					</div>



					<!-- <div>
				<span>Prerequisito: </span> 
				<select id="prerequisito" th:field="*{prerequisito}" required>
				<option th:each="prerequisito : ${prerequisiti}"
						th:value="${prerequisito.id}" th:text="${prerequisito.nome}"></option>
				</select>
			</div> -->

					<span><button type="submit">Invio</button></span>
				</div>
			</form>
		</div>
	</div>
</body>
</html>