<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/baseadmin.html :: headerfiles(title=#{pageTitle.risultato})"> </head>
<body>
		<div th:if="${session.role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	
    <div>
    	<h4 class="t1"></h4>
    	
    	<div class="t2" th:if="${risultato}" th:object="${risultato}">
			<h6>
				Nome :<span th:text="*{nome}">qui-va-nome</span></h6>
			<h6>
				Valore :<span th:text="*{valore}">qui-va-descrizione</span></h6>
			<h6>
				Esame : <span th:text="|*{esame.codice}|"></span>
			</h6>
		

   		</div>
   		
  <!-- <ul>
               <li th:each="esame : ${tipologia.esami}">
                <a href="tipologia.html" 
                   th:href="@{'/esame' + '/' + ${esame.id}}"
                   th:text="${esame.nome}"> </a>
                   <div><br><br></div>
               </li>
           </ul>  -->
           
    	<div th:unless="${risultato}">Non esiste</div>
    <!-- 	<div th:if="${#authorization.expression('isAuthenticated()')}">  -->
     	<div><div th:if="${session.role}=='ADMIN'">
    		    <a class="btn" th:href="@{'/admin/risultato' + '/' + ${risultato.id}}">elimina</a></div>
    	  </div>
    	</div>
</body>
</html>