<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.tipologia})">
</head>
<body>
	<div th:if="${session.role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	<div>
		<h4 class="t1"></h4>
		 <div>
		<img th:src="@{${tipologia.photosImagePath}}" width="120" height="168"
			alt="">
	</div> 

	<div class="t2" th:if="${tipologia}" th:object="${tipologia}">
			<h6> Nome:<span th:text="*{nome}">qui-va-durata</span></h6>
			<h6> Costo:<span th:text="*{costo}">qui-va-data</span>$</h6>
			<h6> Descrizione:<span th:text="*{descrizione}">qui-va-orario</span></h6>
		<!-- 	<span th:text="*{prerequisiti}">qui-va-corso</span> -->
   		</div>
		<div th:unless="${tipologia}">Non esiste</div>
		<!-- <div th:if="${#authorization.expression('isAuthenticated()')}">  -->
		<div>
			<div th:if="${session.role}=='ADMIN'">
				<a class="btn"
					th:href="@{'/admin/tipologia' + '/' + ${tipologia.id}}">elimina</a>
			</div>
		</div>
	</div>

</body>
</html>