<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.tipologia})">
</head>
<body>
	<div th:if="${session.role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	<div class="t5">
		<div th:if="${tipologia}" th:object="${tipologia}">
			<h6 class="t1">
				Nome:<span th:text="*{nome}">qui-va-nome</span>
			</h6>
			<h6 class="t1">
				Costo:<span th:text="*{costo}">qui-va-costo</span>$
			</h6>
			<h6 class="t1">
				Descrizione:<span th:text="*{descrizione}">qui-va-des</span>
			</h6>
			<div class="login3">
					Prerequisiti:<span th:each="prerequisito : ${prerequisiti}">
						<br></br> -<span th:text="${prerequisito.nome}">qui-va-nome</span>
						<span th:text="${prerequisito.valore}">qui-va-valore</span> 
					</span>
			</div>
			<!-- 	<span th:text="*{prerequisiti}">qui-va-corso</span> -->
		</div>
		<div th:unless="${tipologia}">Non esiste</div>

		<div>
			<div th:if="${session.role}=='ADMIN'">
				<a th:href="@{'/admin/tipologia' + '/' + ${tipologia.id}}"><button>elimina</button></a>
			</div>
		</div>
	</div>

</body>
</html>