<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/baseadmin.html :: headerfiles(title=#{header.tipologie})">
</head>
<body>
		<div th:if="${session.role}=='ADMIN'">
		<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	</div>
	<div th:unless="${session.role}=='ADMIN'">
		<header th:replace="fragments/base.html :: intestazione"></header>
	</div>
	
	<div>
		<h4 class="t1">Lista di tipologie</h4>
		<ul>
			<li class="t1" th:each="tipologia : ${tipologie}"><a
				href="tipologia.html"
				th:href="@{'/tipologia' + '/' + ${tipologia.id}}"
				th:text="|${tipologia.nome} ${tipologia.costo}|">qui-va-nome-costo</a>
				
				<div><div th:if="${session.role}=='ADMIN'">
					 <a class="btn" th:href="@{'/admin/tipologia' + '/' + ${tipologia.id}}">elimina</a></div>
				</div></li>
		</ul>
		<br>


	</div>
</body>
</html>
