<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/baseadmin.html :: headerfiles(title=#{header.tipologie})">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4 class="t1">Lista di tipologie</h4>
		<ul>
			<li class="t1" th:each="tipologia : ${tipologie}"><a
				href="tipologia.html"
				th:href="@{'/tipologia' + '/' + ${tipologia.id}}"
				th:text="|${tipologia.nome} ${tipologia.costo}|">qui-va-nome-costo</a>
				<div>
					<form action="#" th:object="${tipologia}"
						th:action="@{/admin/deleteTipologia/{id}(id=${tipologia.id})}"
						th:method="post">
						<input type="hidden" name="_method" value="delete">
						<button type="submit" id="submitButton">Cancella</button>
					</form>
				</div></li>
		</ul>
		<br>


	</div>
</body>
</html>
