<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/baseadmin.html :: headerfiles(title=#{header.tipologie})">
</head>
<body>
	<header th:replace="fragments/baseadmin.html :: intestazione"></header>
	<div class="container">
		<div class="t5">
			<div>
				<h4 class="t1">Inserisci i dati di un tipologia di Esame</h4>
			</div>
			<form th:action="@{/admin/tipologieSave}" method="POST"
				th:object="${tipologia}" enctype="multipart/form-data">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<div>
					<div>
						<span>Nome:</span> <span><input type="text"
							th:field="*{nome}" /></span> <span th:if="${#fields.hasErrors('nome')}"
							th:errors="*{nome}"></span>
					</div>
					<div>
						<span>Descrizione:</span> <span><input type="text"
							th:field="*{descrizione}" /></span> <span
							th:if="${#fields.hasErrors('descrizione')}"
							th:errors="*{descrizione}"></span>
					</div>
					<div>
						<span>Costo:</span> <span><input type="text"
							th:field="*{costo}" /></span> <span
							th:if="${#fields.hasErrors('costo')}" th:errors="*{costo}"></span>


						<div>
							<span>Prerequisiti: </span> <input type="checkbox" name="roles"
								th:each="prerequisito : ${prerequisiti}"
								th:text="${prerequisito.nome}" th:value="${prerequisito.id}"
								th:field="*{prerequisiti}" />
						</div>
					<!-- 	<div>

							<label>Photos: </label> <input type="file" name="image"
								accept="image/png, image/jpeg" />

						</div> -->
						<span><button type="submit">Invio</button></span>
					</div>
			</form>
		</div>
	</div>
</body>
</html>

<!-- </div>
					
							<div> <label>Prerequisito: </label> <select id="prerequisito"
								th:field="*{prerequisiti}" required>
									<option th:each="prerequisito : ${prerequisiti}" th:value="${prerequisito.id}"
										th:text="${prerequisito.nome}"></option>
							</select>
							</div> -->


<!-- <div>
				<span>Prerequisito: </span> 
				<select id="prerequisito" th:field="*{prerequisito}" required>
				<option th:each="prerequisito : ${prerequisiti}"
						th:value="${prerequisito.id}" th:text="${prerequisito.nome}"></option>
				</select>
			</div> -->